@font-face {
  font-family: "Lab Grotesque";
  src: url('../fonts/Lab Grotesque Regular/LabGrotesque-Regular.eot') format('eot'),
    url('../fonts/Lab Grotesque Regular/LabGrotesque-Regular.ttf'),
    url('../fonts/Lab Grotesque Regular/LabGrotesque-Regular.woff'),
    url('../fonts/Lab Grotesque Regular/LabGrotesque-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Lab Grotesque";
  src: url('../fonts/Lab Grotesque Medium/LabGrotesque-Medium.eot') format('eot'),
    url('../fonts/Lab Grotesque Medium/LabGrotesque-Medium.ttf'),
    url('../fonts/Lab Grotesque Medium/LabGrotesque-Medium.woff'),
    url('../fonts/Lab Grotesque Medium/LabGrotesque-Medium.woff2');
  font-weight: 500;
}